__pycache__/
*.pyc
*.pyo
*.pyd
.env
.git
.gitignore
.pytest_cache
.coverage
.venv
*.log
.DS_Store
node_modules/
dist/
build/
.dockerignore
docker-compose*.yml
Makefile
big_image_*.*
vanilla_docker.sh
